@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-semibold text-gold;
}
a:hover {
  @apply text-darkGreen;
}

/* Reset default margins and padding */
html, body {
  margin: 0;
  padding: 0;
}

/* Styles for the header */
header {
  position: fixed; /* Keep header fixed at the top */
  top: 0;
  width: 100%;
  z-index: 50;
  transition: transform 0.3s ease; /* Smooth transition when hiding */
}

header.hide {
  transform: translateY(-100%); /* Moves header out of view */
}

main {
  margin-top: 6rem; /* Adjust based on header height */
}

body {
  @apply m-0 items-center justify-center min-h-screen bg-darkGray text-white font-sans antialiased;
}

.bg-darkGray {
  background-color: #333333;
}

button {
  @apply rounded-lg px-4 py-2 font-semibold transition-colors duration-300;
}
button:hover {
  @apply bg-gold text-darkGreen;
}
button:focus,
button:focus-visible {
  @apply outline-none ring-4 ring-offset-2 ring-gold;
}

.logo {
  @apply h-20 transition-transform duration-300 transform hover:scale-105;
}

.biggest-raffle-card {
  @apply bg-darkGreen p-8 rounded-lg shadow-lg text-white border-4 border-gold;
}
.other-raffles .raffle-card {
  @apply bg-darkGreen p-6 rounded-lg shadow-lg text-white border-4 border-gold;
}
